@charset "UTF-8";
table {
  border-collapse: collapse;
}

caption {
  padding-top: table-cell-padding;
  padding-bottom: table-cell-padding;
  color: text-muted;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

.article1-class {
    color: white;
    border: 1px salmon;
    background-color: salmon;
    padding: 0.5em;
    text-align: center;
    font-family: "Catamaran", sans-serif;
    text-shadow: 1px 1px #000000;
}
.body1-class  {
    background-image: url(../images/f23dc472598f00c127ba422b73627207.jpg);
    background-size: auto auto;
    background-repeat: repeat;
	font-family:"Catamaran", sans-serif;
}
.headertop-class {
    color: salmon;
    border: 1px solid white;
    text-align: center;
    background-color: white;
	font-family:"Catamaran", sans-serif;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
a:link{
    color: darkcyan;
    font-size: large;
    text-align: left;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
    text-decoration: underline;
    text-indent: 1px;
}

p{
  text-align: center;
  background-color:lightsalmon;
  color: white;
  font-family:"Catamaran", sans-serif;
}

div{margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto}
footer{
	color: salmon;
	background-color: white;
	text-align: center
}
