@charset "UTF-8";
*{
	margin:0;
	padding:0;
}
.article1-class {
    color: white;
    border: 1px salmon;
    background-color: salmon;
    padding: 0.5em;
    text-align: center;
    font-family: "Catamaran", sans-serif;
    text-shadow: 1px 1px #000000;
}
.body1-class  {
    background-image: url(../images/f23dc472598f00c127ba422b73627207.jpg);
    background-size: auto auto;
    background-repeat: repeat;
	font-family:"Catamaran", sans-serif;
}
.headertop-class {
    color: salmon;
    border: 1px solid white;
    text-align: center;
    background-color: white;
	font-family:"Catamaran", sans-serif;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
a:link{
    color: darkcyan;
    font-size: large;
    text-align: left;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
    text-decoration: underline;
    text-indent: 1px;
	margin-left: 40px;
	Margin-top: 15px;
}

p{
  text-align: center;
  background-color:lightsalmon;
  color: white;
  font-family:"Catamaran", sans-serif;
}

div{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    background-repeat: repeat;
}
footer{
	color: salmon;
	background-color: white;
	text-align: center
}
.bodybackground-class {
    background-image: url(file:///Macintosh%20HD/Users/thirzerust/Desktop/my_website_thirzerust/images/seamlesscatbackground.jpg);
}

.col-sm-6{
    color: #FFFFFF;
    background-color: #FA8072;
    padding: inherit;
    margin: auto;
    display: none;
    moz-box-sizing: content-box;
    box-sizing: content-box;
}
.col-md-6{ 
	color: #FFFFFF;
    background-color: #FA8072;
    padding: inherit;
    margin: auto;
    display: inline-block;
    webkit-box-sizing: content-box;
    moz-box-sizing: content-box;
    box-sizing: content-box;	
}
.col-lg-4{
	color: #FFFFFF;
    background-color: #FA8072;
    padding: inherit;
    margin: auto;
    display: inline-block;
    webkit-box-sizing: content-box;
    moz-box-sizing: content-box;
    box-sizing: content-box;
}
.loremipsum-class{
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 50PX;
	margin-bottom: 50px
}

.form-group{
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn-primary{
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 50px;
}
.getintouch-class{
	background-color: 
}
